#wall {
    position: relative;
    margin: 40px auto;
    width: 80px;
    height: 922px;
    background: url(../images/wall.jpg) no-repeat center;
    -moz-box-shadow: 15px 15px 47px lime, -15px -15px 47px aqua;
    -webkit-box-shadow: 15px 15px 47px lime, -15px -15px 47px cyan;
    box-shadow: 15px 15px 47px lime, -15px -15px 47px cyan;
    border: 15px solid white;
    border-bottom: 60px solid white;
}
#wall .tag-1 {
  display: none;
}
user agent stylesheet
div {
    display: block;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}